<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- JQuery CSS CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src= {% static 'js/event.js' %}></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    <title>Events</title>
</head>

<script>



</script>

<body>
<!-- Wrap all content in to a wrapper -->
<div id="wrapper" class="animate">
    <!-- Top navigation bar -->
    <nav class="navbar nav-masthead header-top fixed-top navbar-expand-lg  navbar-dark">
        <!-- Hamburger icon -->
        <span class="navbar-toggler-icon leftmenutrigger"></span>

        <!-- All TODO-ES  -->
        <a class="navbar-brand" href="{% url 'index' %}">UCSD LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav" id="sidebarText"></ul>
            <ul class="navbar-nav ml-md-auto d-md-flex" id="Topright"></ul>
        </div>
    </nav>
    <!-- End of Nav Bar and Left Collapse -->


    <!-- Top 5 Events-->
    <!--<div class="container-fluid align-items-center">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img class="d-block w-100"
                         src="https://kellysbootcamp.net/wp-content/uploads/2017/12/blank-1920x400.jpg"
                         alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Top 5 Events</h5>
                        <p>View Top 5 Events Here</p>
                    </div>
                </div>
                {% for event in view.top5 %}
                    <div class="carousel-item ">
                        <img class="d-block w-100"
                             src="https://kellysbootcamp.net/wp-content/uploads/2017/12/blank-1920x400.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ event.event_name }}</h5>
                            <p> Date: {{ event.date|date:"D, d M, Y" }}</p>
                            <p>Location: {{ event.location }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
        <div class="col-2"></div>
    </div>
    </div>-->

    <!-- blank rows -->
    <!-- Filter Button -->
    <hr>
    <div class="row">
        <div class="col col-lg-8 container justify-content-center">
            <div class="row dropdown">
                <div class="col-lg-12">
                    <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="filterButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterButton">
                        <a class="dropdown-item" href="{% url 'event' %}">All</a>
                        <a class="dropdown-item" href="{% url 'event_list_today' %}">Today</a>
                        <a class="dropdown-item" href="{% url 'event_list_week' %}">This Week</a>
                        <a class="dropdown-item" href="{% url 'event_list_month' %}">This Month</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Event Content -->
    <div id="contents">
        {% block event %}

        {% endblock %}

        <!-- Pagination TODO: Need Styling!-->
        {% if is_paginated %}
            <div class="row justify-content-center"><
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/events/?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                            <a href="/events/?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endif %}
    </div>

</div>
<div id="logout-successful-div"></div>
<div id="signin-popup"></div>
<!-- Error Msg -->
<div id="error_msg"></div>

</body>

</html>
