<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- JQuery CSS CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/job.js' %}"></script>
    <script src="{% static 'js/job_search.js' %}"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
    <title>Jobs</title>
</head>

<body>
<!-- Wrap all content in to a wrapper -->
<div id="wrapper" class="animate">
    <!-- Top navigation bar -->
    <nav class="navbar nav-masthead header-top fixed-top navbar-expand-lg  navbar-dark">
        <!-- Hamburger icon -->
        <span class="navbar-toggler-icon leftmenutrigger"></span>

        <!-- All TODO-ES  -->
        <a class="navbar-brand" href="{% url 'index' %}">UCSD LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav" id="sidebarText"></ul>
            <ul class="navbar-nav ml-md-auto d-md-flex" id="Topright"></ul>
        </div>
    </nav>
    <!-- End of Nav Bar and Left Collapse -->


    <!-- Top Keyword Searching -->

</div><!-- wrapper -->


<div class="row">


    <!-- Event Content -->

    <div class="col col-{% if user.is_authenticated %}3{% else %}2{% endif %} container-fluid justify-content-center" id="adfilter" style="margin-top:50px;">
        {% if user.is_authenticated %}
            <div class="card bg-white shadow">
                <form action="{% url 'jobsearch' %}" method="GET" style="margin: 30px;">
                    <!-- Paid checkbox -->
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" id="defaultCheckbox0" value="True" name="paid">
                        <label class="form-check-label" for="defaultCheckbox0">Paid</label>
                    </div>
                    <hr>
                    <!-- Degree Multiple CheckBox -->
                    {% for item in view.degrees %}
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" id="defaultCheckbox1"
                                   value="{{ item.degree }}" name="degree">
                            <label class="form-check-label" for="defaultCheckbox1">{{ item.degree }}</label>
                        </div>
                    {% endfor %}
                    <hr>
                    <!-- Work Authorization -->
                    {% for item in view.auths %}
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" id="defaultCheckbox1" value="{{ item }}"
                                   name="work_auth">
                            <label class="form-check-label" for="defaultCheckbox1">{{ item }}</label>
                        </div>
                    {% endfor %}
                    <hr>
                    <!-- Job Type -->
                    {% for item in view.type %}
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" id="defaultCheckbox1" value="{{ item }}"
                                   name="job_type">
                            <label class="form-check-label" for="defaultCheckbox1">{{ item }}</label>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-dark">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>


    <!-- Event Content -->
    <div class="col col-8 container justify-content-center">
        <div class="container">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-centered" id="keywordsearch"></div>
                    </div>
                </div><!-- container-fluid: keyword search -->
        </div>
        <div class="container" id="contents">
            {% block jobs %}
            {% endblock %}
        </div>

    </div>

    <!-- Error Msg -->
    <div id="error_msg"></div>

    <!-- Login PopUp -->
    <div id="signin-popup"></div>

    <div id="logout-successful-div"></div>
    <!-- Padding-Left -->
    <div class="col col-1">

    </div>

</div>

</body>


</html>
