
.holder {
    max-width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags .li_box {
    display: inline;
}

ul.ks-cboxtags .li_box label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(115, 115, 115, 1);
    color: #707070;
    border-radius: 0px;
    white-space: nowrap;
    margin: 3px 0px;
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags .li_box label {
    padding: 4px 7px;
    cursor: pointer;
    font-size: 11px;
}

ul.ks-cboxtags .li_box label::before {
    font-family: 'FontAwesome';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 11px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags .li_box input[type="checkbox"]:checked + label::before {
    font-family: 'FontAwesome';
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags .li_box input[type="checkbox"]:checked + label {
    border: 1px solid #292c31;
    background-color: #3a3a3a;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags .li_box input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags .li_box input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags .li_box input[type="checkbox"]:focus + label {
    border: 2px solid #3a3a3a;
}

.modal-body {

    min-height: 600px;
    max-height: 100%;
    padding:1.25rem;
    overflow: scroll;
}

.modal-content {
    border: 0;
    border-radius: 0;
    height: 900px;
}

form {
    padding: 20px;
}

.referral h1 {
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    color: #3a3a3a;
    border-bottom: 1px solid #ccc;
}

.referral h6 {
    padding-top: 6px;
    padding-right: 6px;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    color: #3a3a3a;
    font-weight: 100;
}

.referral h4 {
    padding-top: 5px;
    padding-right: 6px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    color: #3a3a3a;
    font-weight: 100;
}

.referral h3 {
    padding-top: 5px;
    padding-right: 6px;
    margin-bottom: 5px;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    color: #3a3a3a;
    font-weight: 100;
}

.referral .row {
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.referral input[type="text"], form input[type="password"], .referral textarea {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 90px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

.referral textarea {
    height: auto;
    min-height: 200px;
    min-width: 600px;
    max-width: 800px;
    padding: 50px 10px 10px 10px;
}

.referral input[type="text"] + label, .referral input[type="password"] + label, .referral textarea + label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: white;
    background: #3a3a3a;
    border-radius: 3px 0 0 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
}

.referral textarea + label {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.referral input[type="text"]:focus, .referral input[type="password"]:focus {
    padding-left: 10px;
}

.referral textarea:focus {
    padding-top: 10px;
}

.referral input[type="text"]:focus + label, .referral input[type="password"]:focus + label {
    -webkit-transform: translateZ(0) translateX(-100%);
    transform: translateZ(0) translateX(-100%);
}

.referral textarea:focus + label {
    -webkit-transform: translateZ(0) translateY(-100%);
    transform: translateZ(0) translateY(-100%);
}

.referral_check input[type="checkbox"]{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}
.referral_check input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: #ccc;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.referral_check input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #3a3a3a;
  border-radius: 100px;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
}
.referral_check input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  height: 26px;
  width: 26px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
.referral_check input[type="checkbox"]:checked + label {
  background: #3a3a3a;
}
.referral_check input[type="checkbox"]:checked + label:after {
  left: calc(100% - 28px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.referral button {
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: white;
    border: none;
    background: #3a3a3a;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    z-index: 2;
}

.referral button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #5b5b5b;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    -webkit-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0);
    z-index: -1;
}

.referral button:hover:before, .referral button:focus:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

.container_ref{
    margin-left: 25px;
    margin-right: 25px;
}

.list-group{
    padding: 0.25rem;
    flex-direction: row;
    border-radius: 0;
}

.list-group-item{
    font-size:15px;
    padding: 0.25rem;
    border-radius: 0;
    border:0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    margin-bottom: 0;
    border-radius: 0;
}


input {
    border-radius: 0;
}

textarea {
    border-radius: 0;
}

/* STEPS */

.steps{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}


.steps li{
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}

.steps li.is-active{
  border-bottom: 1px solid #141414;
  color: #141414;
}


/* FORM */

.form-wrapper .section{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  width: 100%;
    position: absolute;
}

.form-wrapper .section h3{
  margin-bottom: 30px;
}

.form-wrapper .section.is-active{
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
    position: relative;
    max-width: inherit;
}

.modal-dialog, .modal-content {
    height: auto;
    overflow: hidden;
    min-height: 600px;

}

.add_referral{
    max-height: 700px;!important;
}

.container_ref{
    max-width: inherit;
    margin-left: 50px;
    margin-right: 50px;
}

.blank{
    margin-bottom: 150px;
}