#bb{
  padding-top: 0;
  padding-bottom: 0;
}

#right-card-header{
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

/* Referrals toggle button start from here*/
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #999;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #141414;
}

input:focus + .slider {
box-shadow: 0 0 1px #141414;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
/* End of referrals toggle button decoration*/


/* Recommandations of friends */
#recommandation-friends{
  padding-bottom: 2px; background-color: #ddd;
}
#recommandation-whole-card{
  max-height:100%;
}

small{
  font-weight:bold;
}
img{
  max-width:100%;
  max-height:100%;
}
.card-body.col-9.shadow{
  padding:5px;
  /* border-radius: 10px; */
}
#referralbtn{
  cursor: pointer;
  text-align: center;
}
#add-fri-button{
  color: #333;
  font-weight: bold;
}

html, body {
  height: 100%;
}

 body {
  margin: 0;
  background: #eee;
  overflow: hidden;
}

.selector {
  position: relative;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #141414;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover {
  background: #141414;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input {
  display: none;
}

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
  background-color: #004A7F;
  color: #FFFFFF;
  display: inline-block;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.selector li input + label:hover {
  background: #f0f0f0;
}

.selector li input:checked + label {
  background: #5cb85c;
  color: white;
}

.selector li input:checked + label:hover {
  background: #449d44;
}

.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}


@-webkit-keyframes glowing {
  0% { background-color: #00E500; -webkit-box-shadow: 0 0 3px #00E500; }
  50% { background-color: #00FF00; -webkit-box-shadow: 0 0 40px #00FF00; }
  100% { background-color: #00E500; -webkit-box-shadow: 0 0 3px #00E500; }
}

@-moz-keyframes glowing {
  0% { background-color: #00E500; -moz-box-shadow: 0 0 3px #00E500; }
  50% { background-color: #00FF00; -moz-box-shadow: 0 0 40px #00FF00; }
  100% { background-color: #00E500; -moz-box-shadow: 0 0 3px #00E500; }
}

@-o-keyframes glowing {
  0% { background-color: #00E500; box-shadow: 0 0 3px #00E500; }
  50% { background-color: #00FF00; box-shadow: 0 0 40px #00FF00; }
  100% { background-color: #00E500; box-shadow: 0 0 3px #00E500; }
}

@keyframes glowing {
  0% { background-color: #00E500; box-shadow: 0 0 3px #00E500; }
  50% { background-color: #00FF00; box-shadow: 0 0 40px #00FF00; }
  100% { background-color: #00E500; box-shadow: 0 0 3px #00E500; }
}

.scroll {
    overflow-y: auto;
}
.row.flex-row.flex-nowrap{
  overflow-y: auto;
}

ul{
  list-style-type: none;
}

.recommendation{
  width: 250px;
  height: 250px;
}

.rec-avatar{
  width: 150px;
  height: 150px;
}


.state1 a,.state1 a:hover, .state1 button{
  color: #141414;
}

.state1 button{
  box-shadow: #dddddd 0 0 8px;
  border: 0;
}

.recommendation-btn{
  background-color: #f0f0f0;
}

.state1 button:hover{
  box-shadow: #dddddd 0 0 18px;
  background-color: #dedede;
}

.profile{
}

#page1-section1, #page2-section1, #page1-section2, #page2-section2{
  padding-left: 0;!important;
  margin-left: 0;
}

.buttons button{
  background-color: #ffffff;
  box-shadow: #dddddd 0 0 8px;
  border: 0;
  color: #1f1f1f;
}

.buttons button:hover{
  box-shadow: #dddddd 0 0 30px;
}