img{
  border-radius: 50%;
  max-height:100%;
  max-width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

p{
  word-wrap: break-word;
}


#innerout{
  padding-left: 2px;
  padding-right: 2px;
  border: 0 solid gray;
}

button{
  border: none;
  color:blue;
  /* background-color: ; */
}

.col.col-6{
  padding:0px;
  margin:0px;
}

.col.col-3{
  padding: 0px;
  /* margin:0px; */
}

.anim {
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: none;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.anim:hover {
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#newfriend_search_result{
  margin-top: 20px;
}

.outpart{
  padding: 0;
  background-color: #ffffff;
  margin-top: 10px;
  max-height: 100px;
  max-width: 400px;
  box-shadow: #bfbfbf 0 0 20px;
}

.outpart:hover{
  max-height: 100px;
  margin-top: 15px;
  box-shadow: #8d8d8d 0 0 30px;
}

.img-window{
  background-color: #333333;
}

.sr-img {
  padding: 8px;
  box-shadow: #8d8d8d 0 0 0;
}

.sr-button{
  margin-bottom: 7px;
}