body {
    background-color: #dadada;
}

.file {
    position: relative;
    overflow: hidden;
    width: 70%;
    border: none;
    font-size: 15px;
}

.file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #4c4c4c;
}

.profile-head h6 {
    color: #4c4c4c;
}

#edprofile {
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
    color: #3a3a3a;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.98);
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #4e4e4e;
}

#personallinks {
    padding-top: 8%;
}

.profile-img #change_button {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    max-width: 100%;
    max-height: 100%;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

#change_button {
    position: relative;
    overflow: hidden;
    width: 70%;
    border: none;
    font-size: 15px;
    background: #0C1E41;
}

.x {
    background: #DEDBDF;
    border-radius: 10px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
}

.x:hover {
    background: #C2C0C2;
}

.line1 {
    background: #898B8D;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
}

.line2 {
    background: #898B8D;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
}

.float-button:hover {
    border: 1px solid #a5a5a5;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}

.float-button {
    display: block;
    min-height: 50px;
    position: absolute;
    top: 0px;
    right:7%;
    min-width: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #141414;
    color: #fff;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}

.float-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.referral_deactivated{
    background-color: #3a3a3a;
}

.bg-dark{
    background-color: #a3a3a3 !important;
}

.bg-dark h6, h4{
    color: #454545
}

.bg-dark .card-text{
    color: #454545
}

.form-control{
    border: 0;!important;
}

