
.state2{
    color: #FFFFFF;
}

ul{
    margin-top: 10px;
    padding-left: 0;!important;
}

.friend .request{
    padding-top: 10px;!important;
    padding-bottom: 10px;!important;
    margin: 5px;!important;
}

.request .friend-name{
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
}

.friend .friend-name{
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}


li{
    margin-bottom: 10px;
}

.name{
    margin-bottom: 0;!important;
}

.buttons{
    margin-top: 0;
}