<!-- One result of search results -->
{% load static %}
{% if results %}
    {% for result in results %}
        <div class="row card-body outpart">
            <!-- avatar -->
            <div class="col-3 img-window">
                <img src="data:image/png;base64,{{ result.picdata }}" alt="avatar" class="profile sr-img">
            </div>
            <!-- discription -->
            <div class="col-6">
                <div class="row justify-content-center" id="people-list">
                    <a onclick="{{ result.id }}hide()">
                        <p class="anim" data-toggle="modal" data-target="#p-{{ result.id }}"
                           id="result-content">{{ result }}</p>
                    </a>
                </div>
                <div class="row buttons">
                    <div class="col-2"></div>
                    <div class="col-2">
                    <button type="button" class="sr-button" name="button" id="add-{{ result.id }}"
                            onclick="send_request{{ result.id }}()"><i class="fa fa-plus"></i>
                    </button>
                    </div>
                </div>
            </div>
            <!-- add friend -->
            <div class="col-3 col-middle state1">
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade d-example-modal" id="p-{{ result.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal">
                <div class="modal-content friend-popup">
                    <figure class="snip1336">
                        <img src="{% static 'img/bkgd.png' %}" alt="UCSD"/>
                        <div class="x" id="X{{ result.id }}" data-dismiss="modal">
                            <div class="line1"></div>
                            <div class="line2"></div>
                        </div>
                        <figcaption>
                            <img src="data:image/png;base64,{{ result.picdata }}"
                                 alt="avatar"
                                 class="profile"/>
                            <h3>{{ result.F_Name }} {{ result.L_Name }}<span>{{ result.major.major }}&nbsp&nbsp&nbsp&nbsp{{ result.degree.degree }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspClass of {{ result.yr_graduation }}</span>
                            </h3>
                            <h3><span>{% if result.company %}Working At&nbsp&nbsp&nbsp&nbsp
                                {{ result.company.company_name }}{% else %}Currently Unemployed{% endif %}</span>
                            </h3>
                            <p class="description">{{ result.description | truncatechars:'250' }}</p>
                            <div class="buttons">
                                {% if result in user.user.friend.all %}
                                    <a class="remove-friend" id="remove-{{ result.id }}">Remove</a>
                                {% else %}
                                    <a class="send-request" id="send-{{ result.id }}"
                                       onclick="send_request{{ result.id }}()">Send Request</a>
                                {% endif %}
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            function send_request{{ result.id }}() {
                $.ajax({
                    url: '{% url 'send_request' %}',
                    data: {
                        'user_id': {{ result.id }},
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.successful) {
                            $('#request').load('/network/request')
                        } else {
                            document.getElementById('error-p').innerHTML = '<p>Unable to process this request at this time, please try again</p>';
                            $('#err_popup').modal();
                        }
                    }
                })

            }

        </script>
    {% endfor %}
{% else %}
    <p>No Results Found</p>
{% endif %}

<!-- end of one result -->


<!-- Button trigger modal -->


<!-- Modal -->



