
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #333;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#wrapper {
  padding: 90px 15px 15px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column;
}

.navbar {
  /* color: #0C1E41; */
  background-color: #333;
}

.Box {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger {
  display: none
}

@media(min-width:992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;
  }

  .navbar-nav.side-nav.open {
    left: 0;
  }

  .navbar-nav.side-nav {
    background: #FAB400;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 56px;
    flex-direction: column !important;
    left: -320px;
    width: 300px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px
  }
}

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
