img{
  border: solid black;
  border-radius: 50%;
  max-height:100%;
  max-width: 100%;
}

p{
  word-wrap: break-word;
}

#outpart{
  /* padding-left: 2px;
  padding-right: 2px; */
  /* border: solid gray; */
  padding-top: 5px;
  padding-bottom: 5px;
  /* border-radius: 30px; */
}

#innerout{
  padding-left: 2px;
  padding-right: 2px;
  border: 0 solid gray;
}

button{
  border: none;
  color:blue;
  /* background-color: ; */
}

.col.col-6{
  flex-wrap;
  padding:0px;
  margin:0px;
}

.col.col-3{
  padding: 0px;
  /* margin:0px; */
}
