<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <style>
        /*
        * Header
        */
        .masthead {
            margin-bottom: 2rem;
        }

        .masthead-brand {
            margin-bottom: 0;
        }

        .nav-masthead .nav-link {
            padding: .25rem 0;
            color: rgba(255, 255, 255, .5);
            background-color: transparent;
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: #ffffff;
        }

        .nav-masthead .nav-link + .nav-link {
            margin-left: 3rem;

        }

        #usrname-top {
            margin-right: 3rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #141414;

        }

        @media (min-width: 48em) {
            .masthead-brand {
                float: left;
            }

            .nav-masthead {
                float: right;
            }
        }


    </style>
</head>

<body>


{% if user.is_authenticated %}
    {% if user.is_new_user %}
        <script>
            // alert('hello');
            alert('Please finish sign up');
            window.location.replace('{% url 'new_user' %}');
            //alert('Please finish sign up');
        </script>
    {% else %}
        <div id="usrname-top">
            <a class="nav-link usrname"
               href="{% url 'profile' account_id=user.account_id %}">Hello, {{ user }}</a>
        </div>
    {% endif %}
{% else %}
    <div id="usrname-top">
        <a class="nav-link usrname" href="#">{{ user }}, Please sign in</a>
    </div>
{% endif %}
{% if user.is_authenticated %}
    <div id="signin-out">
        <a class="nav-link active" id="logout" onclick="logout()">Logout</a>
    </div>
{% else %}
    <div id="signin-out">
        <a class="nav-link active" data-toggle="modal" data-target="#signin-integrated">Sign
            in
        </a>
    </div>
{% endif %}
<script>
    /*$(document).ready(function () {
        $('#logout-successful-div').load('/templates/logout_successful.html');
        $('#signin-popup').load('/templates/signin_integrated.html');
    });*/
    if(document.getElementById('calendar') != null || document.getElementById('recommandation-results')){
        var logout_p = "<a href = '{% url 'profile_logout' %}' class=\"nav-link active\" id=\"logout\">Logout</a>";
        document.getElementById('signin-out').innerHTML = logout_p;
    }
    var anonymous = "<a class='nav-link usrname' href='#'>AnonymousUser, Please sign in</a>";
    var signin = "<a class='nav-link active' data-toggle='modal' data-target='#signin-integrated'>Sign in</a>";

    function toggleModal() {
        //$('#logout-successful').show();
    }

    function logout () {
        $.ajax({
            url: '{% url 'userlogout' %}',
            dataType: 'json',
            success: function (data) {
                if(data.successful){
                    document.getElementById('usrname-top').innerHTML =anonymous;
                    document.getElementById('signin-out').innerHTML =signin;
                    $('#logout-successful').modal({
                        //prevent modal from unwanted dismiss
                        backdrop: 'static', keyboard: false}
                    );
                }
            }
        })
    }

</script>
</body>

</html>
