<!DOCTYPE html>
{% extends 'jobs.html' %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    </meta>
    <title></title>
</head>

<body>


<!-- Events Display template -->
{% block jobs %}
    <pre>

    </pre>
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <!-- Jobs -->
                {% for job in jobs %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <!-- Event Description -->
                            <div class="card shadow p-3 mb-5 bg-white">
                                <div class="card-header align-items-center">
                                    <div class="row">
                                        <div class="col">
                                            <h6>{{ job.location }} / {{ job.post_time }}</h6>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-default float-right"
                                                    id="icon{{ job.id }}">
                                                <i id="{{ job.id }}" class="fa fa-star-o" aria-hidden="false"></i>
                                            </button>
                                            <div id="about-popup">
                                                {% block content %}
                                                {% endblock %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a data-toggle="modal"
                                       data-target="#about{{ job.id }}" class="job_name">
                                        <h4 class="card-title">{{ job.job_position }}</h4>
                                    </a>
                                    <p class="card-text">{{ job.short_description|truncatewords:"55" }}</p>
                                    <div>
                                        <a href="{{ job.job_URL }}" target="_blank"><button class="btn btn-sm float-right job-apply btn-dark" >Apply</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function toggleIcon(e) {
                            $(e.target)
                                .prev('.panel-heading')
                                .find(".more-less")
                                .toggleClass('glyphicon-plus glyphicon-minus');
                        }

                        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
                        $('.panel-group').on('shown.bs.collapse', toggleIcon);

                        // Toggle start icon to like and dislike
                        //var favorited = false;
                        $(document).ready(function () {
                            {% if user.is_authenticated %}
                                //Retrieve ajax data from server on initialization
                                $.ajax({
                                    url: "{% url 'job_get_favorite_status' %}",
                                    data: {
                                        'job_id':{{ job.id }},
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.job_status) {
                                            $('#{{ job.id }}').removeClass("fa-star-o").addClass("fa-star");
                                            favorited = true;
                                        }
                                    }

                                });
                            {% endif %}
                            //Set class based on if this contend has already been favorited by the current user
                            $('#icon{{ job.id }}').on('click', function () {
                                //alert("lll");
                                {% if user.is_authenticated %}
                                    $(this).find('#{{ job.id }}').toggleClass("fa-star fa-star-o");
                                    $.ajax({
                                        url: "{% url 'job_add_to_favorite'%}",
                                        data: {
                                            'job_id':{{job.id }},
                                        },
                                        dataType: 'json',
                                        success: function (data) {
                                            if (data.successful) {
                                               // alert("success!");
                                            }
                                            else {
                                                //alert("failed");
                                                document.getElementById('error-p').innerHTML = '<p>Unable to process this request at this time, please try again</p>';
                                                $('#err_popup').modal();
                                            }
                                        }
                                    });
                                {% else %}
                                    document.getElementById('error-p').innerHTML = '<p>You have to sign in before adding anything to favorite!</p>';
                                    $('#err_popup').modal();
                                {% endif %}
                            });
                        });
                    </script>

                {% endfor %}

                <!-- Pagination TODO: Need Styling!-->
                {% if is_paginated %}
                    <div class="row justify-content-center">
                        <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/job/?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                        {% if page_obj.has_next %}
                            <a href="/job/?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}


</body>

</html>
