<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"></meta>
    <title></title>
  </head>
  <body>
    <li class="nav-item">
      <!-- TODO -->
      <a class="nav-link" href="{% url 'job' %}">Job
        <span class="sr-only">Job</span>
      </a>
    </li>
    <li class="nav-item">
      <!-- TODO -->
      <a class="nav-link" href="{% url 'event' %}">Event</a>
    </li>
    <li class="nav-item">
      <!-- TODO -->
      <a class="nav-link" href="{% url 'network' %}">Network</a>
    </li>
  </body>
</html>
