<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- JQuery CSS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile</title>
</head>

<body>

<!-- kick out anonymous user -->
<script>
    {% if not user.is_authenticated %}
        window.location.replace('{% url '404' %}');
    {% endif %}
</script>

<!-- Wrap all content in to a wrapper -->
<div id="wrapper" class="animate">
    <!-- Top navigation bar -->
    <nav class="navbar nav-masthead header-top fixed-top navbar-expand-lg  navbar-dark">
        <!-- Hamburger icon -->
        <span class="navbar-toggler-icon leftmenutrigger"></span>

        <!-- All TODO-ES  -->

        <a class="navbar-brand" href="{% url 'index' %}">UCSD LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav" id="sidebarText"></ul>
            <ul class="navbar-nav ml-md-auto d-md-flex" id="Topright"></ul>
        </div>
    </nav>

    <!-- Profile and all other information -->
    <div class="container" id="wholepage">

        <div class="row">
            <!-- Left Part -->
            <div class="col-3">
                <div class="card bg-white shadow" id="personallinks">

                </div>
            </div>

            <!-- Right Part -->
            <div class="col-6">
                <!-- Right Upper -->
                <div class="row" id="profile_right_upper">
                    <div class="col" id="right-upper"></div>
                </div>

                <!-- Right Lower -->
                <div class="row" id="profile_right_lower">
                    {% block right_lower %}
                    {% endblock %}
                </div>
                <!-- end of profile right low -->
            </div>
            <!-- End of col-6 -->
            <!-- Padding Col -->
            <div class="col-3">
                <div id="calendar">
                    <!--<a href="http://www.codepen.io">Hey we can add some fancy things here from codepen.io!</a>-->
                </div>
            </div>
{#            <div class="col-1">#}
{#            </div>#}
            <!-- end of padding -->
        </div>
        <!-- end of low out row -->

    </div>
    <!-- end of whole display data container -->
</div>
<!-- end of wrapper of whole page -->
<!-- Error Msg -->
<div id="error_msg"></div>

</body>

</html>